<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
    #body{
    text-align:center;
    }
    #content{
    margin-left:25%;
    }
    </style>
</head>
<body>
    <div id="body">
    <br/><br/><br/><br/><br/>
    <br/><br/><br/><br/><br/>
    <form name="input" action="/search/" method="get">
    <br/><br/>
    请输入你所感兴趣的动漫类型（以空格分隔）:
    <input type="text" name="user" />
    <input type="submit" value="Search" />
    </form>
    <div>
</body>
</html>